.App {
  background-color: #88a4be;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.card-img{
  height: 550px;
  width: 200px;
}